@inherits LayoutComponentBase

<PageTitle>Account-Origination-Demo</PageTitle>
<header>
    <HeaderComponent />
</header>
<main>
    <BodyContainerComponent>
        @Body
    </BodyContainerComponent>
</main>
<footer>
    <FooterComponent />
</footer>


