.container[b-cv0innvw13] {
    display: flex; justify-content: space-between; font-size: 14px
}

.second-response[b-cv0innvw13] {
    width: 320px;
}

@media(max-width: 760px) {
    .second-response[b-cv0innvw13] {
        width: auto;
    }
}


@media(max-width: 710px) {
    .container[b-cv0innvw13] {
        flex-direction: column;
    }
}