.need-text-info[b-k3m1ibv0jl] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}
.need-text-title[b-k3m1ibv0jl] {
    font-size: 12px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px
}

@media(max-width: 500px) {
    .need-text-info[b-k3m1ibv0jl] {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 10px 0px;
    }

    .need-text-title[b-k3m1ibv0jl] {
        padding: 0px;
    }

    .btn[b-k3m1ibv0jl] {
        margin: 15px 0px;
    }
}
