
<div class="py-4" style="margin: 0 auto; max-width: 800px">
    <h4 class="py-2">Disclosures & Agreements</h4>
    <div style="font-size: 12px; max-width: 800px" >
        <p>U.S.A. Patriot Act Identity Verification Notice</p>
        <p>Important Information About Procedures for Opening a New PSECU Account</p>
        <p>To help our government fight the funding of terrorism and stop money-laundering activities, Federal law requires all financial institutions, including PSECU, to obtain, verify and record information that identifies each person who opens an account.</p>
        <p>What this means for you: When you open an account, we will ask for your name, address, date of birth, Taxpayer Identification Number (TIN) (usually your Social Security Number) and other information that will allow us to identify you. We may also ask to see your driver's license or other identifying document(s). The law requires us to maintain records of the identification verification and periodically update this information.</p>
        <p>Please be assured that the same strict confidentiality of your information maintained by PSECU will be continued as required under the Gramm-Leach-Bliley Privacy Act and PSECU's Privacy Policy.</p>
        <p>Please be assured that the same strict confidentiality of your information maintained by <b>PSECU</b> will be continued as required under the <b>Gramm-Leach-Bliley Privacy Act</b> and <a href="https://cm.psecu.com/-/media/files/pdf/membership/4200.pdf?la=en&hash=277B229B0EF0A4519BD003543EB16A731274A488">PSECU's Privacy Policy.</a></p>
    </div>
</div>

