    <div style="font-size: 12px; max-width: 800px; margin: 0 auto" class="pt-4" >
        <h4 class="py-2">PRPS</h4>
        <p>In order to take advantage of PSECU's products and services, you must be a member of PSECU. Pennsylvania Recreation and Park Society (PRPS) members are eligible for PSECU membership. You have the option to join PRPS at the Friend level. PSECU will cover the $20 dues. To continue your relationship with PSECU, you do not need to maintain PRPS membership. If you do not wish to join PRPS, call us at 800.237.7328, extension 3133, so we may help you with PSECU eligibility.</p>
    </div>