.tooltip-alignment[b-4nnbylnb7d] {
    display: flex;
    flex-direction: row-reverse;
}

.icon-style[b-4nnbylnb7d] {
    text-align: right;
    font-size: 10px;
    margin-left: 2px;
}

.tooltip-wrapper[b-4nnbylnb7d] {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
}

.text-tooltip[b-4nnbylnb7d] {
    margin-right: 5px;
}

span[b-4nnbylnb7d] {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 200%;
    left: 100%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

    span[b-4nnbylnb7d]::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover span[b-4nnbylnb7d] {
    visibility: visible;
}
